#! /usr/bin/env bash
# Licensed to Big Data Genomics (BDG) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The BDG licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

source /root/spark-ec2/ec2-variables.sh

export HADOOP_HOME=/root/ephemeral-hdfs
export STREAMING_JAR=$HADOOP_HOME/contrib/streaming/hadoop-streaming-1.0.4.jar
export SPARK_HOME=/root/spark
export SPARK_MASTER_URI=spark://$MASTERS:7077
export ADAM_HOME={work_path}/adam
export EGGO_HOME={work_path}/eggo
export EGGO_CONFIG={eggo_config_path}
export LUIGI_CONFIG_PATH={luigi_config_path}

# mainly to ensure that Luigi can find the hadoop executable bc Luigi uses
# Popen(shell=False), so specifying $HADOOP_HOME there would not get
# substituted properly
export PATH=$HADOOP_HOME/bin:$PATH
